:root {
	--spacing: 10px;
	--blur: 10px;
	--highlight: #ddee00;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	max-height: 100%;
}

body {
	overflow: auto;
	background-color: darkslategrey;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

h1 {
	color: white;
	font-size: 2.5rem;
}

.highlight {
	color: var(--highlight);
}

img {
	max-width: 100%;
	padding: var(--spacing);
	filter: blur(var(--blur));
	background-color: var(--highlight);
}

.controls,
.form-control {
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls {
	gap: 24px;
	padding: 16px;
}

.form-control {
	gap: 5px;
}

.form-control label {
	color: white;
	font-weight: lighter;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
